
html {
    font-family: "Work Sans", "Helvetica";
    text-rendering: optimizeLegibility;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #f9efde;
}

footer {
    font-size: small;
}

h1, h2, h3 {
    font-family: "Playfair Display";
}

h1 {
    font-size: 2.2rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    max-width: 60%;
    display: inline-block;
    text-align: left;
}

p.drop-cap:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .05em;
}

a {
    color: #b85231;
}

strong {
    font-weight: bolder;
}

figcaption {
    font-style: italic;
    font-weight: 100;
}

hr {
    overflow: visible; /* For IE */
    padding: 10px;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    max-width: 80%;
}

hr:after {
    content: "δ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f9efde;
}

table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }
  